.add_option {
  display: flex;
  flex-direction: column;
  padding: $size-m;

  input {
    background-color: $primary-color;
    border: none;
    border-bottom: 0.3rem solid darken($primary-color, 10%);
    color: $secondary-color;
    flex-grow: 1;
    padding: $size-xs;
    margin: 0 0 $size-xs;
  }
}

@media (min-width: $desktop-breakpoint) {
  .add_option {
    flex-direction: row;

    input {
      margin: 0 $size-s 0 0;
    }
  }
}