header {
  background-color: $dark-color;
  margin-bottom: $size-xl;
  padding: $size-m 0;

  h1 {
    color: $light-color;
    font-size: $size-l;
    margin: $size-m 0;
  }

  h2 {
    color: $primary-color;
    font-size: $size-m;
    font-weight: normal;
    margin: 0 0 $size-m;
  }
}