header {
  background-color: $dark-color;
  margin-bottom: $size-m;
  padding: $size-s 0;

  h1 {
    color: $light-color;
    font-size: ($size-l + $size-m)/2;
    margin: $size-s 0;
  }

  h2 {
    color: $primary-color;
    font-size: $size-m;
    font-weight: normal;
    margin: 0 0 $size-xs;
  }
}

@media (min-width: $desktop-breakpoint) {
  header {
    margin-bottom: $size-xl;
    padding: $size-m 0;

    h1 {
      font-size: $size-l;
      margin: $size-m 0;
    }

    h2 {
      font-size: $size-m;
      margin: 0 0 $size-m;
    }
  }
}