.option {
  border-bottom: 1px solid lighten($dark-color, 40%);
  display: flex;
  justify-content: space-between;
  padding: $size-s;

  p {
    word-break: break-all;
  }
}

@media (min-width: $desktop-breakpoint) {
  .option {
    padding: $size-m;
  }
}